---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import BaseHead from "../components/BaseHead.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div
      class="container px-12 mx-auto flex flex-col-reverse md:flex-row justify-around items-center py-6 max-w-screen-xl"
    >
    </div>
  </body>
</html>
