---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import LockPic from "../../public/Lock-dynamic-premium.png";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="container mx-auto flex justify-between items-center">
        <div class="flex flex-col gap-y-2">
          <h1 class="text-3xl">
            Hi, my name is<br /><span class="font-bold">Navaneeth</span>
          </h1>
          <p>
            I&lsquo;m a <span class="font-bold">security researcher</span> studying
            BCA from Chennai
          </p>
          <button
            class="bg-primary text-white px-2 py-2 border border-black self-start"
            >Get in touch</button
          >
        </div>
        <div>
          <img src={LockPic} alt="" class="max-h-80" />
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
