---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    @apply rounded py-1 px-3 transition-colors text-black;
  }
  a:hover {
    @apply underline;
  }
  a.active {
    @apply text-primary border-primary underline;
  }
</style>
