---
import HeaderLink from "./HeaderLink.astro";
---

<header class="border-b-2 border-primary h-14">
  <nav class="container px-12 mx-auto flex justify-between items-center h-full">
    <HeaderLink href="/">Home</HeaderLink>
    <ul class="flex gap-x-4">
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="https://twitter.com/navaneethstwt" target="_blank"
          >Twitter</HeaderLink
        >
      </li>
    </ul>
  </nav>
</header>
