---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header class="border-b-2 border-primary h-14">
  <nav class="container mx-auto flex justify-between items-center h-full">
    <HeaderLink href="/">Home</HeaderLink>
    <ul class="flex gap-2">
      <li>
        <HeaderLink href="/blog">Blog</HeaderLink>
      </li>
      <li>
        <HeaderLink href="https://twitter.com/navaneethstwt" target="_blank"
          >Twitter</HeaderLink
        >
      </li>
    </ul>
  </nav>
</header>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
