---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import '@fontsource-variable/inter';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />

    <main class="container px-12 mx-auto py-6">
      <div
        class="prose max-w-none prose-code:bg-gray-200 before:prose-code:content-none after:prose-code:content-none"
      >
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>
